In [2]:
import pandas as pd

## JC CitiBIkes

In [ ]:
df2019_01 = pd.read_csv('./Resources/201901-citibike-tripdata.csv')
df2019_01.head()

In [ ]:
df_combined.concat(pd.read_csv(f"./Resources/201901-citibike-tripdata.csv"),pd.read_csv(f"./Resources/201902-citibike-tripdata.csv"))

In [ ]:
year_date = [201901, 201902, 201903, 201904, 201905, 201906, 201907, 201908, 201909, 201910, 201911, 201912
             , 202001, 202002, 202003, 202004, 202005, 202006, 202007, 202008, 202009, 202010, 202011, 202012]
df_combined = []

for file in year_date:
    df_combined.concat(pd.read_csv(f"./Resources/201901-citibike-tripdata.csv"),pd.read_csv(f"./Resources/201902-citibike-tripdata.csv"))

In [1]:
import os
import glob
import pandas as pd
os.chdir("C:/Users/Richa/Desktop/data_analytics/homework/tableau-cityBike/Resources/JerseyCity")

In [2]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [3]:
all_filenames

['JC-201604-citibike-tripdata.csv',
 'JC-201605-citibike-tripdata.csv',
 'JC-201606-citibike-tripdata.csv',
 'JC-201607-citibike-tripdata.csv',
 'JC-201608-citibike-tripdata.csv',
 'JC-201609-citibike-tripdata.csv',
 'JC-20161-citibike-tripdata.csv',
 'JC-201610-citibike-tripdata.csv',
 'JC-201611-citibike-tripdata.csv',
 'JC-201612-citibike-tripdata.csv',
 'JC-20162-citibike-tripdata.csv',
 'JC-20163-citibike-tripdata.csv',
 'JC-201701-citibike-tripdata.csv',
 'JC-201702-citibike-tripdata.csv',
 'JC-201703-citibike-tripdata.csv',
 'JC-201704-citibike-tripdata.csv',
 'JC-201705-citibike-tripdata.csv',
 'JC-201706-citibike-tripdata.csv',
 'JC-201707-citibike-tripdata.csv',
 'JC-201708 citibike-tripdata.csv',
 'JC-201709-citibike-tripdata.csv',
 'JC-201710-citibike-tripdata.csv',
 'JC-201711-citibike-tripdata.csv',
 'JC-201712-citibike-tripdata.csv',
 'JC-201801-citibike-tripdata.csv',
 'JC-201802-citibike-tripdata.csv',
 'JC-201803-citibike-tripdata.csv',
 'JC-201804-citibike-tripdata.csv',
 'JC-201805-citibike-tripdata.csv',
 'JC-201806-citibike-tripdata.csv',
 'JC-201807-citibike-tripdata.csv',
 'JC-201808-citibike-tripdata.csv',
 'JC-201809-citibike-tripdata.csv',
 'JC-201810-citibike-tripdata.csv',
 'JC-201811-citibike-tripdata.csv',
 'JC-201812-citibike-tripdata.csv',
 'JC-201901-citibike-tripdata.csv',
 'JC-201902-citibike-tripdata.csv',
 'JC-201903-citibike-tripdata.csv',
 'JC-201904-citibike-tripdata.csv',
 'JC-201905-citibike-tripdata.csv',
 'JC-201906-citibike-tripdata.csv',
 'JC-201907-citibike-tripdata.csv',
 'JC-201908-citibike-tripdata.csv',
 'JC-201909-citibike-tripdata.csv',
 'JC-201910-citibike-tripdata.csv',
 'JC-201911-citibike-tripdata.csv',
 'JC-201912-citibike-tripdata.csv',
 'JC-202001-citibike-tripdata.csv',
 'JC-202002-citibike-tripdata.csv',
 'JC-202003-citibike-tripdata.csv',
 'JC-202004-citibike-tripdata.csv',
 'JC-202005-citibike-tripdata.csv',
 'JC-202006-citibike-tripdata.csv',
 'JC-202007-citibike-tripdata.csv',
 'JC-202008-citibike-tripdata.csv',
 'JC-202009-citibike-tripdata.csv',
 'JC-202010-citibike-tripdata.csv',
 'JC-202011-citibike-tripdata.csv',
 'JC-202012-citibike-tripdata.csv']

In [4]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])

In [5]:
len(combined_csv)

1638153

In [6]:
#export to csv
combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')

## Pandemic

In [29]:
df_hudson_covid = pd.read_csv('./Resources/covid_hudosn_county.csv')
df_hudson_covid.reset_index(drop=True, inplace=True)

In [30]:
# df_hudson_covid.drop(['index'],axis=1)

In [31]:
df_hudson_covid.head()

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2021-03-31,2021-04-01,2021-04-02,2021-04-03,2021-04-04,2021-04-05,2021-04-06,2021-04-07,2021-04-08,2021-04-09
0,34017,Hudson County,NJ,34,0,0,0,0,0,0,...,79682,80204,80614,80614,81323,81323,81819,82191,82594,82940

In [32]:
df_hudson_covid = df_hudson_covid.transpose()

In [40]:
df_hudson_covid = df_hudson_covid[4:].reset_index()

In [41]:
df_hudson_covid.head()

        index  0
0  2020-01-26  0
1  2020-01-27  0
2  2020-01-28  0
3  2020-01-29  0
4  2020-01-30  0

In [42]:
df_hudson_covid.columns= ['Date', 'Covid-Infected']

In [43]:
df_hudson_covid.head()

         Date Covid-Infected
0  2020-01-26              0
1  2020-01-27              0
2  2020-01-28              0
3  2020-01-29              0
4  2020-01-30              0

In [44]:
#export to csv
df_hudson_covid.to_csv( "hudson_covid_cleaned.csv", index=False, encoding='utf-8-sig')